/****************************************************/
/***   TYRES SYSTEM VISUALISATION STYLESHEET      ***/
/***   -----------------------------------------  ***/
/***   Contains material-specific styles          ***/ 
/****************************************************/


/* Tyre material class colours */
.constituent-material:not(.link-label){
    fill: #d1d3d4;
}
.constituent-material.dark:not(.link-label){
    fill: #bcbec0;
}
.passenger-tyres:not(.link-label){
    fill: #6e5a7a;
}
.truck-tyres:not(.link-label){
    fill: #b56576;
}
.off-road-tyres:not(.link-label){
    fill: #e56a6f;
}

